.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 80px;
    margin-bottom: 10px;
    
}

.smallcard-container > img {
    width: 60px;
    margin-right: 10px;
    margin-left: 10px
}