* {
    margin: 0;
    padding: 0;
}

header {
    background-color: coral;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.texto-cabeçalho {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.caixa-search {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.caixa-search:hover {
    /* box-shadow: 0 0 1em darkblue; */
}

.lupa {
    height: 29px;
    width: 29px;
    padding-left: 15px;
}

.lupa:hover {
    opacity: 15%;
}

video {
    height: 500px;
    width: 100%;
    text-align: center;

}

h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}